body {
  background-color: rgb(20, 20, 32);
}

.header {
  padding: 24px 50px;
  background-color: rgb(20, 20, 32);
}

.title {
  font-family: "Train One";
  font-weight: bold;
  font-size: 30px;
  color: rgb(180, 180, 180);
}

.graphics {
  width: 1000px;
  height: 600px;
}

.alert-container {
  font-family: "Open Sans";
}
